
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Datatables CSS Links -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="~/Resources/Logo.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        @Html.ActionLink("Product Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Prejoining Assignment</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                            @Html.ActionLink("Add Product", "Product", "Product", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                            @Html.ActionLink("Product List", "ProductList", "Product", new { area = "" }, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            <span class="navbar-text">
                @Html.Partial("_LoginPartial")
            </span>
        </div>
    </nav>

        

    <div class="container body-content">
        @RenderBody()
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Gateway Assignment</p>
    </footer>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>


    @RenderSection("scripts", required: false)

    <!-- Datatable JS Links -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>

    <!-- Initialize Datatable -->
    <script>
        $(document).ready(function () {
            var table = $('#productList_table').DataTable({
                fixedHeader: true,
                scrollX: true,
                scrollCollapse: true,
                "searching": true,
                "lengthChange": true,
                "paging": true,
                "ordering": true,
                "info": true,

            });
        });
    </script>
</body>
</html>
